= simple_form_for @contact, url: contact_path do |f|
  = f.input :name, placeholder: t('.name')
  = f.input :email, placeholder: t('.email')
  = f.input :subject, placeholder: t('.subject')
  = f.input :body, as: :text, placeholder: t('.body')
  .form-group.button.contact_submit= f.button :submit, class: 'submit'