!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    / Define Charset
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    / Responsive Meta Tag
    %meta{content: "width=device-width; initial-scale=1.0; maximum-scale=1.0;", name: "viewport"}/
    %title= @message.subject.truncate(60)
    / Responsive Styles and Valid Styles
    %link{href: "http://fonts.googleapis.com/css?family=PT+Sans:400,700", rel: "stylesheet", type: "text/css"}
    :css
      body{
            width: 100%; 
            background-color: #f0f0f0; 
            margin:0; 
            padding:0; 
            -webkit-font-smoothing: antialiased;
        }
        
        p,h1,h2,h3,h4,img{
          margin-top:0;
          margin-bottom:0;
          padding-top:0;
          padding-bottom:0;
        }
        
        span.preheader{display: none; font-size: 1px;}
        
        html{
            width: 100%; 
        }
        
        table{
            font-size: 14px;
            border: 0;
        }

        .button {
          background: rgb(79, 158, 207);
          -webkit-border-top-left-radius:5px;
          -moz-border-radius-topleft:5px;
          border-top-left-radius:5px;
          -webkit-border-top-right-radius:5px;
          -moz-border-radius-topright:5px;
          border-top-right-radius:5px;
          -webkit-border-bottom-right-radius:5px;
          -moz-border-radius-bottomright:5px;
          border-bottom-right-radius:5px;
          -webkit-border-bottom-left-radius:5px;
          -moz-border-radius-bottomleft:5px;
          border-bottom-left-radius:5px;
          text-indent:0px;
          border:1px solid #fff;
          display:inline-block;
          color:#ffffff;
          font-family:Arial;
          font-size:15px;
          font-style:normal;
          text-decoration:none;
          text-align:center;
          padding: 3px 15px;
        }
        
        /* ----------- responsivity ----------- */
        @media only screen and (max-width: 640px){
          /*------ top header ------ */
          .view-online{font-size: 12px !important;}
          .main-header{line-height: 28px !important; font-size: 17px !important;}
          .main-subheader{line-height: 28px !important;}
                
          /*----- main image -------*/
          .main-image{width: 440px !important; height: auto !important;}
          
          /*-------- container --------*/     
          .container600{width: 440px !important;}
          .container560{width: 400px !important;}
          
          /*-------- divider --------*/     
          .divider{width: 440px !important; height: 1px !important;}
          
          /*----- banner -------*/
          .banner{width: 400px !important; height: auto !important;}
          /*-------- secions ----------*/
          .section-item{width: 400px !important;}
          .section-img{width: 400px !important; height: auto !important;}
                     
          /*-------- footer ------------*/
          .unsubscribe{line-height: 26px !important; font-size: 13px !important;}
          .copy{line-height: 26px !important; font-size: 14px !important;}
          .hide-iphone{display: none !important;}
          .vertical-spacing{width: 400px !important;}   
          .footer-item{width: 200px !important;}
        }
    
        @media only screen and (max-width: 479px){
          
          /*------ top header ------ */
          .view-online{font-size: 12px !important;}
          .main-header{line-height: 28px !important; font-size: 15px !important;}
          .main-subheader{line-height: 28px !important;}
          .logo{width: 280px !important;}
          .nav{width: 280px !important;}
          /*----- main image -------*/
          .main-image{width: 280px !important; height: auto !important;}
          
          /*-------- container --------*/     
          .container600{width: 280px !important;}
          .container560{width: 240px !important;}
          
          /*-------- divider --------*/     
          .divider{width: 280px !important; height: 1px !important;}
          
          /*----- banner -------*/
          .banner{width: 240px !important; height: auto !important;}
          /*-------- secions ----------*/
          .section-item{width: 240px !important;}
          .section-img{width: 240px !important; height: auto !important;}
                     
          /*-------- footer ------------*/
          .unsubscribe{line-height: 26px !important; font-size: 13px !important;}
          .copy{line-height: 26px !important; font-size: 14px !important;}
          .hide-iphone{display: block !important;}
          .vertical-spacing{width: 240px !important;}   
          .footer-item{width: 240px !important;}
        }
    
  %body{leftmargin: "0", marginheight: "0", marginwidth: "0", topmargin: "0"}
    / ======= preheader ======
    %span.preheader
      = @message.subject
      %br/
    / ======= end preheader ======
    %table{bgcolor: "f0f0f0", border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
      %tr
        %td{height: "47"}
      / ------------ top header -----------
      %tr{"mc:repeatable" => ""}
        %td{align: "center"}
          %table.container600{align: "center", border: "0", cellpadding: "0", cellspacing: "0", width: "600"}
            %tr
              %td{align: "center"}
                %table.logo{align: "left", border: "0", cellpadding: "0", cellspacing: "0"}
                  %tr
                    %td{align: "center"}
                      %a{href: "", style: "display: block; width: 60px; height: 28px; border-style: none !important; border: 0 !important;"}
                        = image_tag attachments['logo.png'].url, style: "display: block; width: 60px;", alt: "logo", border: "0", editable: "true", "mc:edit" => "logo" if attachments['logo.png']
                %table.nav{align: "left", border: "0", cellpadding: "0", cellspacing: "0"}
                  %tr
                    %td{height: "20", width: "20"}
                %table.nav{align: "right", border: "0", cellpadding: "0", cellspacing: "0"}
                  %tr
                    %td{height: "15"}
                  %tr
                    %td{align: "center", "mc:edit" => "view-online", style: "font-size: 13px; font-family: Helvetica, Arial, sans-serif;"}
                      %table.date{border: "0", cellpadding: "0", cellspacing: "0"}
                        %tr
                          %td.view-online{"mc:edit" => "tel", style: "color: #8c8c8c; font-size: 14px; font-family: 'PT Sans', Arial, sans-serif;"}
                            %singleline
                              %a{href: "", style: "color: #3f9cca; text-decoration: none;"} info@imin.cz
      / ------------ end top header -----------
      %tr
        %td{height: "45"}
      %tr{"mc:repeatable" => ""}
        %td
          %table.container600{align: "center", bgcolor: "ffffff", border: "0", cellpadding: "0", cellspacing: "0", width: "600"}
            %tr
              %td{bgcolor: "ffffff", height: "45"} &nbsp;
      / ------------ main text -----------
      %tr{"mc:repeatable" => ""}
        %td{align: "center"}
          %table.container600{align: "center", bgcolor: "ffffff", border: "0", cellpadding: "0", cellspacing: "0", width: "600"}
            %tr
              %td{align: "center"}
                %table.container560{align: "center", border: "0", cellpadding: "0", cellspacing: "0", width: "560"}
                  %tr
                    %td.main-header{align: "center", "mc:edit" => "main-header", style: "color: #596064; font-size: 23px; font-weight: bold; font-family: 'PT Sans', Arial, sans-serif;"}
                      %multiline= @message.subject
                  %tr
                    %td{height: "25"}
                  %tr
                    %td.main-subheader{align: "center", "mc:edit" => "main-subheader", style: "color: #8c8c8C; font-size: 15px; font-family: 'PT Sans', Arial, sans-serif; line-height: 30px;"}
                      %multiline= @message.body
                  %tr
                    %td{height: "30"}
                  %tr
                    %td.main-subheader{align: "center", "mc:edit" => "main-subheader", style: "color: #596064; font-size: 18px; font-family: 'PT Sans', Arial, sans-serif; line-height: 30px;"}
                      %singleline
                        = @message.name
                        \/
                        %a{href: "mailto:#{@message.email}?Subject=#{@message.subject}", style: "color: #3f9cca; text-decoration: none;", target: "_top"}= @message.email
      / ------------ end main text -----------
      %tr{"mc:repeatable" => ""}
        %td
          %table.container600{align: "center", bgcolor: "ffffff", border: "0", cellpadding: "0", cellspacing: "0", width: "600"}
            %tr
              %td{bgcolor: "ffffff", height: "35"}
      %tr
        %td{height: "40"}
      %tr
        %td
          %table.container600{align: "center", border: "0", cellpadding: "0", cellspacing: "0", width: "600"}
            %tr
              %td.unsubscribe{align: "center", "mc:edit" => "copy", style: "color: #8c8c8c; font-size: 15px; font-family: 'PT Sans', Arial, sans-serif;"}
                %multiline
                  We're in s.r.o. © 2012-2013
            %tr
              %td{height: "30"}
                %singleline
                  &nbsp;